.card__like {
  background-image: url(../../../images/__heart-disabled.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.1s ease 0.1s;
}
.card__like:hover {
  opacity: .5
}